<div class="container-fluid containerShadow card">
    <div class="titulo-flutuante " style="margin-top: 1px;">
        <h3 class="titleH3">Antropometria</h3>
    </div>
    <form novalidate [formGroup]="antropometriaForm">
        <div class="card p-2">
           <h3 class="titleH3">Dados Básicos</h3>
           <div class="row">
                <div class="col-3">
                    <label>
                        <input class="with-gap" type="number" formControlName="altura"/>
                        <span>Altura (cm)</span>
                    </label>
                </div>
                <div class="col-3">
                    <label>
                        <input class="with-gap" type="number" formControlName="peso"/>
                        <span>Peso (kg)</span>
                    </label>
                </div>
                <div class="col-3">
                    <label>
                        <input class="with-gap" type="number" formControlName="idade"/>
                        <span>Idade (anos)</span>
                    </label>
                </div>
                <div class="col-3">
                    <label>
                        <input class="with-gap" type="number" formControlName="imc"/>
                        <span>IMC</span>
                    </label>
                </div>
            </div>
        
            <div class="row">
                <div class="col-12">
                <label >
                    <input class="with-gap" type="text" formControlName="observacao"/>
                    <span>Observacao</span>
                </label>
                </div>
            </div>
        </div>
        
      <h3 class="col-12 titleH3 my-4">Circunferências</h3>
      <div class="col-sm-6 col-md-6 col-lg-3 float-left ">
          <h3>Braço direito</h3>
          <br/>
          <div class="row p-0">
              <div class="col-6">
                  <label >
                      <input class="with-gap" type="number" formControlName="bracoRelaxadoDireito"/>
                      <span>Relaxado (cm)</span>
                  </label>
              </div>
              <div class="col-6">
                  <label >
                      <input class="with-gap" type="number" formControlName="bracoContraidoDireito"/>
                      <span>Contraido (cm)</span>
                  </label>
              </div>
          </div>
      </div>
      <div class="col-md-6 col-sm-6 col-lg-3 float-left">
          <h3>Braço esquerdo</h3>
          <br/>
          <div class="row">
            <div class="col-6">
                  <label >
                      <input class="with-gap" type="number" formControlName="bracoRelaxadoEsquerdo"/>
                      <span>Relaxado (cm)</span>
                  </label>
              </div>
              <div class="col-6 ">
                  <label >
                      <input class="with-gap" type="number" formControlName="bracoContraidoEsquerdo"/>
                      <span>Contraido (cm)</span>
                  </label>
              </div>
          </div>
      </div>
      <div class="col-md-6 col-sm-6 col-lg-3 float-left">
          <h3>Antebraço direito</h3>
          <br/>
          <div class="row">
              <div class="col-6">
                  <label >
                      <input class="with-gap" type="number" formControlName="antebracoRelaxadoDireito"/>
                      <span>Relaxado (cm)</span>
                  </label>
              </div>
              <div class="col-6">
                  <label >
                      <input class="with-gap" type="number" formControlName="antebracoContraidoDireito"/>
                      <span>Contraido (cm)</span>
                  </label>
              </div>
          </div>
      </div>  
      <div class="col-md-6 col-sm-6 col-lg-3 float-left">
          <h3 class="col-12">Antebraço esquerdo</h3>
          <br/>
          <div class="row">
            <div class="col-6">
                  <label >
                      <input class="with-gap" type="number" formControlName="antebracoRelaxadoEsquerdo"/>
                      <span>Relaxado (cm)</span>
                  </label>
              </div>
              <div class="col-6 ">
                  <label >
                      <input class="with-gap" type="number" formControlName="antebracoContraidoEsquerdo"/>
                      <span>Contraido (cm)</span>
                  </label>
              </div>
          </div>         
      </div>
      <div class="col-md-6 col-sm-6 col-lg-3 float-left mt-4">
        <div class="row">
          <h3 class="col-12">Coxa</h3>
          <div class="col-6">
              <label >
                  <input class="with-gap" type="number" formControlName="coxaEsquerda"/>
                  <span>Coxa esquerda (cm)</span>
              </label>
          </div>
          <div class="col-6 ">
              <label >
                  <input class="with-gap" type="number" formControlName="coxaDireita"/>
                  <span>Coxa direita (cm)</span>
              </label>
          </div>
        </div>  
      </div>
       <div class="col-md-6 col-sm-6 col-lg-3 float-left mt-4">
            <div class="row">
                <h3 class="col-12">Panturrilha</h3>
                <div class="col-6">
                    <label >
                        <input class="with-gap" type="number" formControlName="panturrilhaEsquerda"/>
                        <span>Panturrilha esquerda (cm)</span>
                    </label>
                </div>
                <div class="col-6 ">
                    <label >
                        <input class="with-gap" type="number" formControlName="panturrilhaDireita"/>
                        <span>Panturrilha direita (cm)</span>
                    </label>
                </div>
            </div>       
       </div>
       <div class="col-md-12 col-sm-12 col-lg-6 float-right mt-4" >
           <div class="row">
               <h3 class="col-12">Superiores</h3>
               <div class="col-3">
                   <label >
                       <input class="with-gap" type="number" formControlName="pescoco"/>
                       <span>Pescoço</span>
                   </label>
               </div>
               <div class="col-3 ">
                   <label >
                       <input class="with-gap" type="number" formControlName="ombro"/>
                       <span>Ombro</span>
                   </label>
               </div>
               <div class="col-3">
                   <label >
                       <input class="with-gap" type="number" formControlName="peitoral"/>
                       <span>Peitoral</span>
                   </label>
               </div>
               <div class="col-3 ">
                   <label >
                       <input class="with-gap" type="number" formControlName="cintura"/>
                       <span>Cintura</span>
                   </label>
               </div>
           </div>
        </div>
        
        
    </form>
</div>
<p-messages [(value)]="msgs"></p-messages>
<div class="col-12 mt-5">
    <button class="btn waves-effect waves-light mr-auto float-left" type="reset" name="action">Limpar
        <i class="material-icons right" style="color: white;" >refresh</i>
    </button>
    <button class="btn waves-effect waves-light mx-3 float-right" 
            type="button" 
            name="action" 
            (click)="salvar()"
            >Salvar
            <i class="material-icons right" style="color: white;">send</i>
    </button> 
</div>