<!--
<div class="container-fluid" >
   
      <div class="float-left col-4" style="height: 8vp;">
          <img  class="img-fluid" src="http://localhost:4200/assets/paciente1.jpg" alt="" style="height: 100%">
      </div>
      <div class="col-8 float-right">
          <div class="">
              <h2>Nome do paciente</h2>
              <p>Arthur alberto guedes</p>
          </div>
          <div class="col-8">
              <h2>Email</h2>
              <p>agalbertoguedes@gmail.com</p>
          </div>
          <div class="col-8">
              <h2>Telefone</h2>
              <p>062 98173-4412</p>
          </div>
      </div>      
</div>
-->
