<section>
        <div class="container-fluid">
                <div class="col-10 mx-auto">
                        <form class="formulario_container" [formGroup]="novoPacienteFormulario"  novalidate>
                                <h2>Cadastrar paciente</h2>
                                <div class="row">
                                        <div class="input-field col-sm-12 col-md-12">
                                                <i class="material-icons prefix">account_circle</i>
                                                <input  id="nome" 
                                                        type="text" 
                                                        class="validate" 
                                                        formControlName="nome">
                                                <label for="nome">Nome Completo</label>
                                        </div>
                                </div>
                                <div class="row">
                                        <div class="input-field col-sm-12 col-md-6">
                                                <i class="material-icons prefix">phone</i>
                                                <input  id="telefone" 
                                                        type="text" 
                                                        class="validate"
                                                        formControlName="telefone" >
                                                <label for="telefone">Telefone</label>
                                        </div>
                                        <div class="input-field col-sm-12 col-md-6" >
                                                <i class="material-icons prefix">map</i>
                                                <input  id="estado" 
                                                        type="text" 
                                                        class="validate"
                                                        formControlName="estado">
                                                <label for="estado">Estado</label>
                                               
                                        </div>
                                </div>
                                <div class="row">
                                        <div class="input-field col-sm-12 col-md-6">
                                                <i class="material-icons prefix">date_range</i>
                                                <label for="data">Data de nascimento (dd/mm/aaaa)</label>
                                                <input  id="data" 
                                                        type="text" 
                                                        class="datepicker"
                                                        >
                                        </div>
                                        <div class="input-field col-sm-12 col-md-6" >
                                                <i class="material-icons prefix">location_city</i>
                                                <input id="cidade" 
                                                        type="text" 
                                                        class="validate"
                                                        formControlName="cidade">
                                                <label for="cidade">Cidade</label>
                                        </div>
                                </div>
                                <div class="row">
                                        <div class="input-field col-sm-12 col-md-6">
                                                <i class="material-icons prefix">laptop</i>
                                                <input  id="email" 
                                                        type="text" 
                                                        class="validate"
                                                        formControlName="email">
                                                <label for="email">Email</label>
                                        </div>
                                        <div class="input-field col-sm-12 col-md-6" >               
                                                <i class="material-icons prefix">domain</i>
                                                <input id="cep" 
                                                        type="text" 
                                                        class="validate"
                                                        formControlName="cep">
                                                <label for="cep">CEP</label>
                                        </div>
                                </div>
                                <div class="row">
                                        <div class="input-field col-sm-12 col-md-6">
                                                <i class="material-icons prefix">wc</i>
                                                <br/>
                                                <label id="genero">
                                                        <input name="genero" 
                                                                type="radio" 
                                                                value="M" 
                                                                formControlName="genero" />
                                                        <span>Masculino</span>
                                                </label> 
                                                
                                                <label style="margin-left: 190px;">
                                                        <input name="genero" 
                                                                type="radio" 
                                                                value="F"
                                                                formControlName="genero" />
                                                        <span>Feminino</span>
                                                </label>                                            
                                        </div>
                                        <div class="input-field col-sm-12 col-md-6" >                      
                                                <i class="material-icons prefix">markunread</i>
                                                <input id="logradouro" 
                                                        type="text" 
                                                        class="validate"
                                                        formControlName="logradouro">
                                                <label for="logradouro">Logradouro</label>
                                        </div>
                                </div>
                                <div class="row mt-3 ">
                                        <button class="btn waves-effect waves-light ml-auto" type="reset" name="action">Limpar
                                                <i class="material-icons right" style="color: white;" >refresh</i>
                                        </button>
                                        <button class="btn waves-effect waves-light mx-3" 
                                                type="button" 
                                                name="action" 
                                                (click)="salvar()"
                                                [disabled]="false">Cadastrar
                                                <i class="material-icons right" style="color: white;">send</i>
                                        </button>                       
                                </div>
                        </form>
                        
                </div>      
        </div>
</section>



<!--Inicializar componente de Data-->
<script>
        document.addEventListener('DOMContentLoaded', function() {
        var elems = document.querySelectorAll('.datepicker');
        var instances = M.Datepicker.init(elems,  {   format: 'dd/mm/yyyy',
                                                autoClose: true,
                                                i18n: {
                                                        today: 'Hoje',
                                                        clear: 'Limpar',
                                                        done: 'Ok',
                                                        nextMonth: 'Próximo mês',
                                                        previousMonth: 'Mês anterior',
                                                        weekdaysAbbrev: ['D', 'S', 'T', 'Q', 'Q', 'S', 'S'],
                                                        weekdaysShort: ['Dom', 'Seg', 'Ter', 'Qua', 'Qui', 'Sex', 'Sáb'],
                                                        weekdays: ['Domingo', 'Segunda-Feira', 'Terça-Feira', 'Quarta-Feira', 'Quinta-Feira', 'Sexta-Feira', 'Sábado'],
                                                        monthsShort: ['Jan', 'Fev', 'Mar', 'Abr', 'Mai', 'Jun', 'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez'],
                                                        months: ['Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro']
                                                        },
                                                }
                                        );
        });
        
</script>