<p-fieldset legend="Informações pessoais" class="w-50">
    <form action="" class="form-group">
            <input type="text" placeholder="Nome" class="form-control">
            <input type="date" placeholder="Data de nascimento" class="form-control">
            <input type="text" placeholder="Endereço" class="form-control">
            <input type="text" placeholder="Nome" class="form-control">
            <label>
                Sexo
                <br/>     
                <input type="radio" name="sexo" value="m">Masculino
                <input type="radio" name="sexo" value="f">Feminino
            </label>    
     </form>     
</p-fieldset>
<p-fieldset legend="Informações nutricionais">
        <form action="" class="form-group">
                <input type="text" placeholder="Altura" class="form-control">
                <input type="text" placeholder="Peso (kg)" class="form-control">
                <input type="text" placeholder="Idade atual" class="form-control" maxlength="3">
                <select class="form-control w-50">
                        <option value="">Objetivo do paciente</option>
                        <option value="hipertrofia">Hipertrofia</option>
                        <option value="emagrecimento">Emagrecimento</option>
                        <option value="diabetes">Controle de Diabetes</option>
                        <option value="saudavel">Vida saudável</option>
                        <option value="colesterol">Redução do colesterol</option>
                        <option value="hipertensao">Controle de hipertensão</option>
                        <option value="renais">Controle de doenças renais</option>

                </select>
         </form>     
    </p-fieldset>

    