<h1>Pacientes</h1>

<div class="container-fluid">
    <div class="row">
        
        <div class="col-10">
                <input  id="buscarPaciente" 
                        type="text" 
                        class="validate" 
                        placeholder="Digite o nome do paciente"
                        [(ngModel)]="pesquisa"
                        (keyup)="pesquisarPaciente()"
                >
        </div>
        <div class="col-2">
            <button>
                <a routerLink="/home/novo-paciente">Cadastrar novo Paciente </a>
            </button>          
        </div>
    </div>
    <p-dataView [value]="pacientes">
        <ng-template let-paciente pTemplate="listItem">
            <!--Container com cada paciente-->
            <div class="col-sm-12 col-md-12 col-lg-6 container-paciente">
                <div class="row">
                    <div class="col-4">
                        <img  class="img-fluid" src="http://localhost:4200/assets/paciente1.jpg" alt="">
                    </div>    
                    <div class="col-6">
                        {{paciente.nome}}
                        <br/>
                        Consulta agendada em:
                        <br/>
                        {{paciente.telefone}}
                    </div> 
                    <div class="col-1">
                        <button (click)="verInformacoesPaciente(paciente)" >Ver paciente</button>
                        <button (click)="iniciarAtendimento(paciente)" >Iniciar Avaliação</button>
                        <button (click)="enviarMensagem(paciente)" >Enviar Mensagem</button>
                    </div>
                </div>
            </div>
        </ng-template>
    </p-dataView> 
</div>

