<div class="row height100">
    <section class="menuLateral col-1">
        <aside>
            
            <div>
                <ul>
                    <li>
                        <a routerLink="/home">Dashboard</a>
                    </li>
                    <li>
                        <a routerLink="paciente">Pacientes</a>
                    </li>
                    <li>
                        <a routerLink="consulta">Consultas</a>
                    </li>
                    <li>
                        <a routerLink="paciente">Dados do paciente</a>
                    </li>
                    <li>
                        <a href="mensagens">Mensagens</a>
                    </li>
                    <li>
                        <a routerLink="lembretes">Lembretes</a>
                    </li>
                    <li>
                        <a href="">Configurações</a>
                    </li>
                </ul>
            </div>
        </aside>
    </section>
    <section class="conteudoSite col-11 p-0" >
            <router-outlet></router-outlet>
    </section>

</div>

<section class="menuSuperior">
        <h1 class="float-left"><a href="#">Logo</a></h1>
        <h2 class="text-center">INFORMACOES SISTEMA</h2>    
</section>

