
.menuSuperior{
    position: absolute;
    top: 0;
    right: 0;
    height: 50px;
    width: 100%;
    /*background: linear-gradient(to right, #71B280, #134E5E);*/
    color: #fff;
    box-shadow: 2px 2px 4px #acacac;
    background: radial-gradient(#71B280, #134e5e);
}

.logoSuperior{
    height: 80px;
    position: absolute;
    top: 0;
    left: 0;
    box-shadow: 1px 6px 19px 0px #ddd;
}

.menuLateral{
    position: relative;
    top: 50px;
    min-width: 100px;
    padding: 0;
    background: #f3f3f3;
    height: auto;
  /*  border-right: 2px solid rgb(240, 241, 240);
    box-shadow: 1px 2px 5px #ddd;*/
    max-width: 120px;
}


/*Lista Lateral*/

.listaAsideSistema>li>a{
    color: rgb(104, 104, 104) !important;
    font-weight: 400;
    font-family: 'labels';
    font-size: 1.0em;
}
.listaAsideSistema>li:hover{
    border: 2px solid #ddd;
    background: rgb(231, 171, 59);
}


.linkActive{
    border: 2px solid #ddd;
    background: rgb(231, 171, 59);
}
.conteudoSite{
    position: relative;
    margin: 18px;
}

.height100{
    height: 100%;
}

.listaAsideSistema > li > a > span {
    margin-left: 9px;

}

.listaAsideSistema > li{
    padding: 9px;
    width: 130%;
}

.listaAsideSistema > li:first-of-type{
    margin-top: 30px;
}

.listaAsideSistema > li > a{
    text-decoration: none;
    color: rgb(49, 41, 41);
    border: rgb(49, 41, 41);
}

.tituloUsuarioMenuSuperior{
  /*  font-family: bison;*/
}

.iconeMenuLateral{
    height: 24px;
    width: 24px;
}