<div class="row height100">
    <section class="menuLateral col-1 col-md-1">
        <aside>
            
            <div>
                <ul class="listaAsideSistema">
                    <li>
                        <a routerLink="/home/dashboard">
                            <img src="../../assets/home.svg" alt="" class="iconeMenuLateral">
                            <span>Home</span>
                        </a>
                    </li>
                    <li>
                        <a routerLink="paciente">
                            <img src="../../assets/pessoa.png" alt="" class="iconeMenuLateral">
                        <span>Pacientes</span></a>
                    </li>
                    <li>
                        <a routerLink="consulta">
                            <img src="../../assets/calendario_consulta.svg" alt="" class="iconeMenuLateral">
                            <span>Consulta</span>
                        </a>
                    </li>
                    <li>
                        <a href="mensagens">
                            <img src="../../assets/mensagem_paciente.png" alt="" class="iconeMenuLateral">
                            <span>Mensagens</span>
                        </a>
                    </li>
                    <li>
                        <a routerLink="lembretes">
                           <img src="../../assets/lembrete.png" alt="" class="iconeMenuLateral">
                            <span>Lembretes</span>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <img src="../../assets/configuracoes.svg" alt="" class="iconeMenuLateral">
                            <span>Opções</span>
                        </a>
                    </li>
                </ul>
            </div>
        </aside>
    </section>
    <section class="conteudoSite col-10 col-md-11">
            <router-outlet></router-outlet>
    </section>

</div>

<section class="menuSuperior">
     <div class="row">
            <h1 class="logo">SYSNUTRI </h1>
            <span class="tituloUsuarioMenuSuperior float-right p-3 ml-auto">Olá, {{usuarioLogado}}!</span>
     </div>
</section>

