<div class="container-fluid">
  <div class="col-12 p-3">
      <h3 class="titleH3 mt-2">Anamneses</h3>
      <form novalidate [formGroup]="anamneseForm">
          <div class="col-12 card p-4 mx-auto">
              <h3 class="labelFormulario">Caso clínico</h3>
              <input type="text" size="200" formControlName="casoClinico">
              <span  class="labelFormulario">Objetivo do paciente:</span>
              <input type="text" formControlName="objetivo">
          </div>
          <div class="row">
                   <!--Hábitos alimentares-->
                <div class="col-12 col-md-7 p-3 card">
                    <h3 class="titleH3">Hábitos alimentares</h3>
                    <div class="mt-4 mb-1">
                        <span class="labelFormulario">Frequência refeições fora de casa</span>
                    </div>
                    <div >
                        <label>
                            <input class="with-gap" 
                                   name="refeicoesFora" 
                                   type="radio" 
                                   checked 
                                   formControlName="refeicoesFora"
                                   value="B"/>
                            <span>Baixa</span>
                        </label>
                        <label>
                            <input class="with-gap" 
                                   name="refeicoesFora" 
                                   type="radio" 
                                   formControlName="refeicoesFora"
                                   value="M"/>
                            <span>Moderada</span>
                        </label>
                        <label>
                            <input class="with-gap" 
                                   name="refeicoesFora" 
                                   type="radio" 
                                   formControlName="refeicoesFora"
                                   value="A"/>
                            <span>Alta</span>
                        </label>
                    </div>

                    <div>
                        <span class="labelFormulario mt-4">Apetite</span>
                    </div>
                    <div >
                        <label>
                            <input class="with-gap" 
                                   name="apetite" 
                                   type="radio" 
                                   checked 
                                   formControlName="apetite"
                                   value="B"/>
                            <span>Baixo</span>
                        </label>
                        <label>
                            <input class="with-gap" 
                                   name="apetite" 
                                   type="radio" 
                                   formControlName="apetite"
                                   value="false"/>
                            <span>Normal</span>
                        </label>
                        <label>
                            <input class="with-gap" 
                                   name="apetite" 
                                   type="radio" 
                                   formControlName="apetite"
                                   value="A"/>
                            <span>Alto</span>
                        </label>
                    </div>
                    <div>
                        <label>
                            <input class="with-gap" type="number" formControlName="quantidadeRefeicoes"/>
                            <span class="labelFormulario">Quantidade de refeições diárias</span>
                        </label>
                    </div>
                    <div >
                        <label>
                            <input class="with-gap" type="text" formControlName="suplementos"/>
                            <span class="labelFormulario">Suplementos</span>
                        </label>
                    </div>
                    <div>
                        <label>
                            <input class="with-gap" type="text" formControlName="alimentosConsumidos"/>
                            <span class="labelFormulario">Alimentos mais consumidos</span>
                        </label>
                    </div>
                </div>
                <!--Hábitos de vida-->
                <div class="col-12 col-md-4 card p-4 ml-auto">
                    <h3 class="titleH3">Hábitos de vida  </h3>
                    <div>
                        <br/>
                        <span class="labelFormulario">Fumante</span>
                        <br/>
                        <label>
                            <input class="with-gap" 
                                   name="fumante" 
                                   type="radio" 
                                   checked
                                   value="S"
                                   formControlName="fumante"/>
                            <span>Sim</span>
                        </label>
                        <label>
                            <input class="with-gap" 
                                   name="fumante" 
                                   type="radio" 
                                   value="N"
                                   formControlName="fumante"/>
                            <span>Não</span>
                        </label>                    
                    </div>
                    <div>
                        <br/>
                        <span class="labelFormulario">Bebidas alcóolicas?</span>
                        <br/>
                        <label>
                            <input class="with-gap" 
                                   name="bebidas" 
                                   type="radio" 
                                   checked
                                   formControlName="bebidas"
                                   value="S"
                                   />
                            <span>Sim</span>
                        </label>
                        <label>
                            <input class="with-gap" 
                                   name="bebidas" 
                                   type="radio"  
                                   formControlName="bebidas"
                                   value="N"/>
                            <span>Não</span>
                        </label>                    
                    </div>
                    <div>
                        <br/>
                        <span class="labelFormulario">Frequenta academia?</span>
                        <br/>
                        <label>
                            <input class="with-gap" 
                                   name="academia" 
                                   type="radio" 
                                   checked
                                   formControlName="academia"
                                   value="S"/>
                            <span>Sim</span>
                        </label>
                        <label>
                            <input class="with-gap" 
                                   name="academia" 
                                   type="radio" 
                                   formControlName="academia"
                                   value="N"/>
                            <span>Não</span>
                        </label>                    
                    </div>
                    <div>
                        <label>
                            <input class="with-gap" type="text" formControlName="atividadesFisicas"/>
                            <span class="labelFormulario">Principais atividades físicas</span>
                        </label>
                    </div>      
                    <div>
                        <label>
                            <input class="with-gap" type="number" name="tempoDeSono" formControlName="tempoDeSono" />
                            <span class="labelFormulario">Tempo de sono (horas)</span>
                        </label>
                    </div> 
                    <div>
                        <br/>
                        <span class="labelFormulario">Qualidade do sono</span>
                        <br/>
                        <label>
                            <input class="with-gap" 
                                   name="qualidadeDeSono" 
                                   type="radio" 
                                   checked
                                   formControlName="qualidadeDeSono"
                                   value="B"
                                   />
                            <span>Boa</span>
                        </label>
                        <label>
                            <input class="with-gap" 
                                   name="qualidadeDeSono" 
                                   type="radio"  
                                   formControlName="qualidadeDeSono"
                                   value="R"/>
                            <span>Ruim</span>
                        </label>                    
                    </div>                   
                </div>
          </div>
          <!--Informações clínicas-->
          <div class="row card p-3">
                <h3 class="titleH3">Informações clínicas</h3>
                <br/>
                <div class="col-12">
                    <br/>
                    <span class="labelFormulario">Gestante?</span>
                    <br/>
                    <label>
                        <input class="with-gap" 
                               name="gestante" 
                               type="radio" 
                               checked
                               formControlName="gestante"
                               value="S"/>
                        <span>Sim</span>
                    </label>
                    <label>
                        <input class="with-gap" 
                               name="gestante" 
                               type="radio" 
                               formControlName="gestante"
                               value="N"/>
                        <span>Não</span>
                    </label>                    
                </div>
                <div class="col-12">
                    <br/>
                    <span class="labelFormulario">Diabetes?</span>
                    <br/>
                    <label>
                        <input class="with-gap" 
                               name="diabetes" 
                               type="radio" 
                               checked
                               formControlName="diabetes"
                               value="S"/>
                        <span>Sim</span>
                    </label>
                    <label>
                        <input class="with-gap" 
                               name="diabetes" 
                               type="radio" 
                               formControlName="diabetes"
                               value="N"/>
                        <span>Não</span>
                    </label>                    
                </div>
                <div class="col-12">
                    <div>
                        <label>
                            <input class="with-gap" type="text" formControlName="alergias"/>
                            <span class="labelFormulario">Alergias</span>
                        </label>
                    </div>
                </div>
                <div class="col-12">
                    <div>
                        <label>
                            <input class="with-gap" type="text" formControlName="sintomas"/>
                            <span class="labelFormulario">Sintomas e queixas</span>
                        </label>
                    </div>
                </div>
                <div class="col-12">
                    <div>
                        <label>
                            <input class="with-gap" type="text" formControlName="doencas"/>
                            <span class="labelFormulario">Doenças crônicas</span>
                        </label>
                    </div>
                </div>
                <div class="col-12">
                    <div>
                        <label>
                            <input class="with-gap" type="text" formControlName="observacoes"/>
                            <span class="labelFormulario">Observações adicionais</span>
                        </label>
                    </div>
                </div>
                <p-messages [(value)]="msgs"></p-messages>
                <div class="col-12 mt-5">
                    <button class="btn waves-effect waves-light mr-auto" type="reset" name="action">Limpar
                        <i class="material-icons right" style="color: white;" >refresh</i>
                    </button>
                    <button class="btn waves-effect waves-light ml-auto float-right" 
                            type="button" 
                            name="action" 
                            (click)="salvar()"
                            >Salvar
                            <i class="material-icons right" style="color: white;">send</i>
                    </button> 
                </div>
                
          </div>
      </form>
  </div>
</div>
