<section class="container-fluid">
    <h1>Novo lembrete</h1>
    <a routerLink="/home/novo-lembrete">Cadastrar novo lembrete</a>
    <div class="row">     
        <p>Buscar lembrete pela data</p>
        <div class="col-12 col-md-2">
            <p-calendar [showIcon]="true"  
                        [locale]="ptbr" 
                        dateFormat="dd/mm/yy"
                        placeholder="Data do lembrete"
                        [(ngModel)]="dataLembrete">
            </p-calendar>
        </div>
        <div class="col-md-2">
            <button class="btn waves-effect waves-light" 
                type="button" 
                name="action" 
                (click)="buscarLembretes()"
                >Buscar
                <i class="material-icons right" style="color: white;"></i>
            </button>  
         </div>
    </div>
    <div class="col-12">
        <table>
            <tr>
                <th style="width: 20%">Data</th>
                <th style="width: 80%">Anotação</th>
            </tr>
            <tr *ngFor="let lembrete of lembretes">
                <td>{{lembrete.dataLembrete  | date: 'dd/MM/yyyy'}}</td>
                <td>{{lembrete.lembrete}}</td>
            </tr>
        </table>
    </div>
   
</section>