<section class="container-fluid formulario_container  p-4">
    <h3 class="titleH3">Novo lembrete</h3>
    <p>Buscar lembrete pela data:</p>
    <div class="row col-12">     

        <p-calendar [showIcon]="false"  
                    [locale]="ptbr" 
                    dateFormat="dd/mm/yy"
                    placeholder="Data do lembrete"
                    [(ngModel)]="dataLembrete">
        </p-calendar>


        <button class="btn waves-effect waves-light ml-4" 
            class="btnPaciente"
            type="button" 
            name="action" 
            (click)="buscarLembretes()"
            >Buscar
            <i class="material-icons right" style="color: white;"></i>
        </button>  


        <a routerLink="/home/novo-lembrete" class=" ml-auto float-right">
            <button class="btnPaciente" style="margin-left: 50px;">
                Cadastrar novo lembrete
            </button> 
        </a>

    </div>
    <div class="col-12">
        <table>
            <tr>
                <th style="width: 20%">Data</th>
                <th style="width: 80%">Anotação</th>
            </tr>
            <tr *ngFor="let lembrete of lembretes">
                <td>{{lembrete.dataLembrete  | date: 'dd/MM/yyyy'}}</td>
                <td>{{lembrete.lembrete}}</td>
            </tr>
            <tr *ngIf="lembretes.length == 0">
                <td></td>
                <td>Nenhum lembrete encontrado para este dia.</td>
            </tr>
        </table>
    </div>
   
</section>