<div class="container-fluid " >
    <div class="row">
        <div class="col-12">
            <div class="p2 m-4">
                <p-tabMenu [model]="items" [activeItem]="activeItem" class="col-6">
                    <ng-template pTemplate="item" let-item let-i="index" >
                        <div style="position: relative; text-align: center; min-width: 10em" (click)="abrirComponenteCorrespondente(item)">          
                            <div>
                                <img [src]="imagens[i]" style="height: 40px;">
                            </div>
                            <div class="ui-menuitem-text">
                                {{item.label}}
                            </div>
                        </div>
                    </ng-template>
                </p-tabMenu>
            </div>
        </div>
    </div>
</div>

<div class="container containerShadow w-100">
    <anamnese 
            *ngIf="mostrarAnamnese"
            (click)="iniciarAnamnese()">
    </anamnese>
    <antropometria
            *ngIf="mostrarAntropometria"
            (click)="iniciarAntropometria()">
    </antropometria>
    <composicao-corporal
            *ngIf="mostrarComposicaoCorporal"
            (click)="iniciarComposicaoCorporal()">
    </composicao-corporal>
    <plano-alimentar
            *ngIf="mostrarPlanoAlimentar"
            (click)="iniciarPlanoAlimentar()">
    </plano-alimentar>
</div>
