<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="p2 m-4">
                <p-tabMenu [model]="items" [activeItem]="activeItem" class="col-6">
                    <ng-template pTemplate="item" let-item let-i="index" >
                        <div style="position: relative; text-align: center; min-width: 10em">          
                            <div>
                                <img [src]="imagens[i]" style="height: 40px;">
                            </div>
                            <div class="ui-menuitem-text">
                                {{item.label}}
                            </div>
                        </div>
                    </ng-template>
                </p-tabMenu>
            </div>
        </div>
    </div>
</div>


<!--Passo 1 - Anamnese-->
<anamnese 
    *ngIf="false"
    (chamarPasso2)="iniciarPasso2($event)">
</anamnese>
<!--Passo 2 - Início da Antropometria-->
<antropometria
    *ngIf="false">
</antropometria>
<!--Passo 3 - cadastro da composição corporal (biopendancias e pregas cutênas)-->
<composicao-corporal *ngIf="false">
    
</composicao-corporal>
<plano-alimentar></plano-alimentar>