@import '~@fullcalendar/core/main.css';
@import '~@fullcalendar/daygrid/main.css';

/* RESETS */
body,html{
    height: 100%;
    padding: 0;
    margin: 0;
}

/* CORES PRINCIPAIS */
body{
    --cor-primaria: #5f9474;
    background: #f3f3f3;
}


/* MATERIALIZE RESETS*/

h1, h2, h3, h4, h5 {
   /* font-size: 100% !important; */
    margin: 0 !important;
}

h3{
    font-size: 1em;
}
input:-internal-autofill-selected {
    background-color: transparent !important;
}

.modal{
    height: auto;
}

.row{
    margin: 0px;
}

i{
    color: var(--cor-primaria);
}

label{
    width: 100%;
}

.btn, .btn-large, .btn-small{
    background-color: var(--cor-primaria) !important;
}



[type="radio"]:checked + span:after, [type="radio"].with-gap:checked + span:after{
    background-color: var(--cor-primaria);
}    

.btn{
    color: white;
}

.ui-autocomplete{
    width: 95%;

}

.ui-calendar{
    width: 100%;
}

.ajustePrimengInputs {
    margin-left: 45px !important;
    width: 90% !important ;
}
/* DEFINIÇÕES DE ESTILOS DA APLICAÇÃO */ 

h2{
    font-size: 2em !important;
}

.titleH3{
    font-size: 1.3em;
    color: rgb(20,20,20);
    font-family: titulo;
    margin-bottom: 20px  !important;
}

.formulario_container{
    padding: 2%;
    margin: 3% 2%;
    box-shadow: -1px 4px 11px 2px #dfd9d9;
    background: white;
    border-radius: 15px;
}

/*Estilização de botões*/


.btnPaciente{
    width: 100%;
    height: 40px;
    background-color: #5f9474;
    cursor: pointer;
    color: white;
    font-family: labels;
    font-size: 0.9em;
    font-weight: 400;
    border-radius: 5px;
    border: 1px solid #ccc
}
.btnPaciente:hover{
    background-color: rgb(221, 172, 80);
}

.divPaciente{
    text-shadow: 1px 2px rgb(231, 223, 223);
    background-color: #f3f3f3;
}

.ui-carousel-item.ui-widget-content.ui-corner-all{
    font-family: 'labels';
}

@font-face{
    font-family: 'labels';
    src: url('./fonts/Vollkorn-Regular.ttf');
}


.containerShadow{
    box-shadow: 0px 1px 2px 1px #ddd;
    min-height: 400px;
    overflow: auto;
    padding: 20px;

}

.telaShadow{
    border: 1px solid #ccc;
    box-shadow: 0px 3px 9px 3px #ddd;
    margin-top: 45px;
    padding: 25px;
}


/*RESETS BOTOES PRIMENG*/

.container-fluid{
    margin-top: 50px !important;
}

body .ui-selectbutton .ui-button.ui-state-active{
    background-color: var(--cor-primaria);
    border-color: var(--cor-primaria);
}

body .ui-selectbutton .ui-button.ui-state-active:not(.ui-state-disabled):hover {
    background-color: var(--cor-primaria);
    border-color: var(--cor-primaria);
}

body .ui-button {
    margin: 0;
    background-color: var(--cor-primaria);
    border-color: var(--cor-primaria);
    border: 1px solid var(--cor-primaria);
    font-size: 14px;
}

body .ui-selectbutton .ui-button.ui-state-active:not(.ui-state-disabled):hover {
    background-color: var(--cor-primaria);
    border-color: var(--cor-primaria);
    color: #ffffff;
}
body .ui-selectbutton .ui-button.ui-state-active {
    background-color: var(--cor-primaria);
    border-color: var(--cor-primaria);
    color: #ffffff;

}

.ui-carousel-item .ui-widget-content .ui-corner-all{
    padding: 10px;
    font-family: bison;
}

.ui-state-active .ui-state-focus{
    background-color: var(--cor-primaria);
    border-color: var(--cor-primaria);
}
body .ui-selectbutton .ui-button.ui-state-active:not(.ui-state-disabled):hover {
    background-color: var(--cor-primaria);
    border-color: var(--cor-primaria);
    color: #ffffff;
  }

  body .ui-selectbutton .ui-button.ui-state-active.ui-state-focus {
    background-color: var(--cor-primaria);
    border-color: var(--cor-primaria);
    color: #ffffff;
  }

  body .ui-tabmenu .ui-tabmenu-nav .ui-tabmenuitem.ui-state-active {
    background-color: #538868;
    border: 1px solid #537988;
  }

  .ui-carousel.ui-widget.ui-widget-content.ui-corner-all{
    margin-bottom: 20px !important;
  }

  /*FULL-CALENDAR and CAROUSEL styles*/

  /* Evento de consulta no calendário */
  body .fc .fc-event{
      background-color: #84b698;
      color: white;
      border-color: #84b698;
      cursor: pointer;
  }

 body .fc .fc-event:hover{
     width: 300px;
     height: 400px;
     text-align: left;
     color: white;
     padding-left: 0;
     z-index: 999;
     margin-left: -100px;
     border-radius: 5px;
     transition: hover 0.4s;
  }


  .fc-event, .fc-title{
      font-size: 12px;
  }

  .fc table{
      font-size: 0.8em; 
      font-weight: 600;
  }

  .fc-content-skeleton > table > thead{
    /*background-color: #84b698;
    color: #eee;*/
  }

  .fc-right{
    position: absolute;
    right: 20px;
  }

  .fc-left{
    font-size: 0.4em;
    font-family: bison;
    color: #cacaca;
  }
  .fc-center{
    font-family: 'titulo';
    font-size: 0.6em;
    color: rgb(19, 17, 17);
  }

  .fc-today{
    background-color: #e8f3ea !important;
    border: 1px solid #ccc !important;
  }

  .fc-day-grid-event .fc-time {
    font-weight: normal !important;
  }

  body .ui-carousel .ui-carousel-header{
    background-color: #84b698;
  }

  body .ui-carousel .ui-carousel-button, body .ui-carousel .ui-carousel-page-links .ui-carousel-page-link {
    color: white;
  }

  body .ui-carousel .ui-carousel-viewport .ui-carousel-items .ui-carousel-item{
      border: none;
      padding: 10px;
  }

  .ui-carousel-item.ui-widget-content{
    
  }

  body .fc td.ui-widget-content{
      background: rgb(247, 247, 247);
  }

  body .fc th {
  /*  background-color: #538868;
    color: #eee;*/
    font-weight: 500;
    font-size: 1.2em !important; 
    font-family: bison;
    letter-spacing: 0.1rem;
    background-color: #84b698;
    border: 1px solid #c8c8c8;
    color: #ffffff;
  }

  /*Logo*/
.logo{
    font-family: logo;
    font-size: 35px;
   /* text-shadow: 4px 3px 0px rgb(231, 173, 65);*/
    margin-left: 15px !important;
    margin-top: 9px !important;
}
.logo > img{
    width: 35px;
    margin-bottom: 3px;
}

.spanPaciente{
    font-size: 1.1em;
    font-family: span;
    font-weight: 200;
    text-shadow: none;
    color: #706b6b;
}

/*Fontes*/
@font-face {
    font-family: 'crystal';
    src: url('./fonts/crystal.ttf');
}

@font-face{
    font-family: 'bison';
    src: url('./fonts/menu.otf');
}

@font-face{
    font-family: 'titulo';
    src: url('./fonts/fontTitulo.ttf');
}

@font-face{
  font-family: 'logo';
  /*  src: url('./fonts/avocado.ttf');*/
  src: url('./fonts/american.ttf');

}

@font-face{
    font-family: 'span';
    src: url('./fonts/BreeSerif-Regular.ttf');
}


/*Labels gerais */
.labelFormulario{
    font-family: labels;
    font-weight: 600;
    margin-top: 15px;
    font-size: 0.8rem;
    color: #9e9e9e;
}

body, body .ui-widget{
    font-family: labels;
}

@media (min-width: 768px){
    .col-md-11 {
        flex: 0 0 91.666667%;
        max-width: 86.666667%;
    }
}