/* RESETS */
body,html{
    height: 100%;
    padding: 0;
    margin: 0;
}

/* CORES PRINCIPAIS */
body{
    --cor-primaria: rgb(16, 156, 16);
}


/* MATERIALIZE RESETS*/

h1, h2, h3, h4, h5 {
   /* font-size: 100% !important; */
    margin: 0 !important;
}

input:-internal-autofill-selected {
    background-color: transparent !important;
}

.modal{
    height: auto;
}

.row{
    margin: 0px;
}

i{
    color: var(--cor-primaria);
}

label{
    width: 100%;
}

.btn, .btn-large, .btn-small{
    background-color: var(--cor-primaria) !important;
}

[type="radio"]:checked + span:after, [type="radio"].with-gap:checked + span:after{
    background-color: var(--cor-primaria);
}    

.btn{
    color: white;
}

.ui-autocomplete{
    width: 95%;
    margin-left: 5%;
}

.ui-calendar{
    width: 100%;
}
/* DEFINIÇÕES DE ESTILOS DA APLICAÇÃO */ 

h2{
    font-size: 2em !important;
}

.formulario_container{
    padding: 2%;
    margin: 3% 2%;
    box-shadow: 0px 0px 12px 2px #cac0c0;
    -webkit-box-shadow:0 0 10px rgba(0, 0, 0, 0.5);
	-moz-box-shadow:0 0 10px rgba(0, 0, 0, 0.5);
	box-shadow:0 0 10px rgba(0, 0, 0, 0.5);
}

