@import '~@fullcalendar/core/main.css';
@import '~@fullcalendar/daygrid/main.css';

/* RESETS */
body,html{
    height: 100%;
    padding: 0;
    margin: 0;
}

/* CORES PRINCIPAIS */
body{
    --cor-primaria: rgb(16, 156, 16);
}


/* MATERIALIZE RESETS*/

h1, h2, h3, h4, h5 {
   /* font-size: 100% !important; */
    margin: 0 !important;
}

h3{
    font-size: 1em;
}
input:-internal-autofill-selected {
    background-color: transparent !important;
}

.modal{
    height: auto;
}

.row{
    margin: 0px;
}

i{
    color: var(--cor-primaria);
}

label{
    width: 100%;
}

.btn, .btn-large, .btn-small{
    background-color: var(--cor-primaria) !important;
}

[type="radio"]:checked + span:after, [type="radio"].with-gap:checked + span:after{
    background-color: var(--cor-primaria);
}    

.btn{
    color: white;
}

.ui-autocomplete{
    width: 95%;

}

.ui-calendar{
    width: 100%;
}
/* DEFINIÇÕES DE ESTILOS DA APLICAÇÃO */ 

h2{
    font-size: 2em !important;
}

.formulario_container{
    padding: 2%;
    margin: 3% 2%;
    box-shadow: 0px 0px 12px 2px #cac0c0;
    -webkit-box-shadow:0 0 10px rgba(0, 0, 0, 0.5);
	-moz-box-shadow:0 0 10px rgba(0, 0, 0, 0.5);
	box-shadow:0 0 10px rgba(0, 0, 0, 0.5);
}

.containerShadow{
    box-shadow: 0px 1px 2px 1px #ddd;
    min-height: 400px;
}

/*RESETS BOTOES PRIMENG*/
body .ui-selectbutton .ui-button.ui-state-active{
    background-color: var(--cor-primaria);
    border-color: var(--cor-primaria);
}

body .ui-selectbutton .ui-button.ui-state-active:not(.ui-state-disabled):hover {
    background-color: var(--cor-primaria);
    border-color: var(--cor-primaria);
}

body .ui-button {
    margin: 0;
    background-color: var(--cor-primaria);
    border-color: var(--cor-primaria);
    border: 1px solid var(--cor-primaria);
    font-size: 14px;
}

body .ui-selectbutton .ui-button.ui-state-active:not(.ui-state-disabled):hover {
    background-color: var(--cor-primaria);
    border-color: var(--cor-primaria);
    color: #ffffff;
}
body .ui-selectbutton .ui-button.ui-state-active {
    background-color: var(--cor-primaria);
    border-color: var(--cor-primaria);
    color: #ffffff;

}

.ui-state-active .ui-state-focus{
    background-color: var(--cor-primaria);
    border-color: var(--cor-primaria);
}
body .ui-selectbutton .ui-button.ui-state-active:not(.ui-state-disabled):hover {
    background-color: var(--cor-primaria);
    border-color: var(--cor-primaria);
    color: #ffffff;
  }

  body .ui-selectbutton .ui-button.ui-state-active.ui-state-focus {
    background-color: var(--cor-primaria);
    border-color: var(--cor-primaria);
    color: #ffffff;
  }

  body .ui-tabmenu .ui-tabmenu-nav .ui-tabmenuitem.ui-state-active {
    background-color: #538868;
    border: 1px solid #538868;
  }


  /*FULL-CALENDAR styles*/
  
  .fc-time, .fc-title{
      font-size: 12px;
      
  }

  body .fc .fc-event{
      background-color: #538868;
      color: white;
      border-color: #538868;
  }

  .fc table{
      font-size: 0.9em; 
  }


/*Fontes*/
@font-face {
    font-family: 'crystal';
    src: url('./fonts/crystal.ttf');
}

@font-face{
    font-family: 'bison';
    src: url('./fonts/menu.otf');
}